
blinker
charset-normalizer
click
colorama
contourpy
cycler
defusedxml
Flask
Flask-Login
Flask-SQLAlchemy
Flask-WTF
fonttools
greenlet
gunicorn
itsdangerous
Jinja2
joblib
kiwisolver
MarkupSafe
matplotlib
narwhals
nltk
numpy
packaging
pandas
pillow
pyparsing
python-dateutil
pytz
regex
reportlab
scikit-learn
scipy
six
SQLAlchemy
threadpoolctl
tqdm
typing_extensions
tzdata
Werkzeug
WTForms
blinker
charset-normalizer
click
colorama
contourpy
cycler
defusedxml
Flask
Flask-Login
Flask-SQLAlchemy
Flask-WTF
fonttools
greenlet
gunicorn
itsdangerous
Jinja2
joblib
kiwisolver
MarkupSafe
matplotlib
narwhals
nltk
numpy
packaging
pandas
pillow
pyparsing
python-dateutil
pytz
regex
reportlab
scikit-learn
scipy
six
SQLAlchemy
threadpoolctl
tqdm
typing_extensions
tzdata
Werkzeug
WTForms
